@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&family=Ubuntu:wght@400;700&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --light-red: hsl(356, 100%, 66%);
}

* {
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

/* GLOBAL */

a {
  text-decoration: none;
  color: var(--white);
}

.btn {
  padding: 10px 15px;
  border: 0;
  border-radius: 25px;
}

/* HEADER BACKGROUND */

.header {
  background: url(assets/bg-pattern-intro.svg);
  background-image: linear-gradient(to bottom right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  border-radius: 0 0 0 75px;
}

/* NAVBAR */

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;

  font-family: 'Ubuntu';
  font-weight: 500;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 50px;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  padding: 0 15px;
}

.nav {
  flex: 1;
}

nav a:hover {
  text-decoration: underline;
}

.arrow_down {
  list-style: none;
}

nav li:hover img{
  transform: rotate(-180deg);
  transition: 1s;
}

.dropdown_menu {
  display: none;
}

nav li:hover .dropdown_menu {
  display: block;
}

.dropdown_menu ul {
  display: flex;
  flex-direction: column;
  position: absolute;

  background-color: var(--white);
  border-radius: 5px;

  padding: 25px 25px 25px 10px;
}

.dropdown_menu li {
  margin-bottom: 10px;
}

.dropdown_menu a {
  color: black;
}

.dropdown_menu a:hover {
  text-decoration: none;
  font-weight: bold;
}

.btn_header .btn_signup_header {
  background-color: white;
  color: var(--light-red);
  font-weight: bold;
}

.btn_header .btn_signup_header:hover {
  background-color: var(--light-red);
  color: var(--white);
  border: 1px solid var(--white);
  transition: 1s;  
}

/* MAIN HEADER */

.container_home {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 100px 0 150px;
  font-family: 'Overpass';
}

.container_home h1 {
  color: var(--white);
  font-size: 65px;
  text-align: center;
}

.container_home p {
  font-size: 21px;
  color: var(--white);
  font-weight: bold;
  margin-top: 15px;
}

.btn_container {
  margin-top: 60px;
  display: flex;
}

.btn_container a {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 16px;
  padding: 15px 20px;
}

.btn_container a:first-child {
  color: var(--light-red);
  background-color: var(--white);
  margin-right: 10px;
}

.btn_container a:not(:first-child) {
  border: 1px solid var(--white);
  margin-left: 10px;
}

.btn_container a:first-child:hover {
  background-color: var(--light-red);
  color: var(--white);
  border: 1px solid var(--white);
  transition: 1s;
}

.btn_container a:not(:first-child):hover {
  background-color: var(--white);
  color: var(--light-red);
  transition: 1s;
}

/* MOBILE NAV */

#mobilemenu {
  display: none;
}

.mobile_nav {
  display: none;
}

/* OVERVIEW SECTION */

.overview {
  background: url(assets/illustration-editor-desktop.svg) no-repeat;
  height: 150vh;
  background-position: 200% 100%;
  background-size: 70%;
}

.overview_container {
  padding: 174px 0 0 174px;
  font-family: 'Overpass';
}

.overview_container h1 {
  align-self: center;
  text-align: center;
  font-size: 40px;
  margin-bottom: 150px;
  color: hsl(208, 49%, 24%);
  font-family: 'Overpass';
}

.left_col {
  text-align: left;
  max-width: 580px;
  padding-top: 20px;
}

.left_col div:first-of-type {
  margin-bottom: 50px;
}

.overview_container h2 {
  color: hsl(208, 49%, 24%);
}

.overview_container p {
  font-size: 16px;
  color: hsl(207, 13%, 34%);
  margin-top: 20px;
}

.img_mobile_overview {
  display: none;
}

/* SERVISES SECTION */

.services {
  display: none;
  justify-content: space-between;
  position: relative;
  padding: 8rem 10rem;
  background-color: hsl(237, 17%, 21%);
  align-items: center;
  width: 100%;
  border-radius: 25px 0 25px 0;
}

.services_col_left {
  flex-basis: 40%;
  position: relative;
}

.phone {
  position: absolute;
  left: -5rem;
  top: -16rem;
  z-index: 3;
}

.pattern_circle {
  position: absolute;
  left: -25rem;
  top: -50rem;
  z-index: 1;
  width: 250%;
}

@media (max-width: 760px){
  .container {
    padding: 0 30px;
  }

  .nav {
    display: none;
  }

  .btn_header {
    display: none;
  }
  
  /* NAV MOBILE */

  #mobilemenu {
    display: block;
  }

  .mobile_nav {
    position: absolute;
    display: block;
    top: 8.5rem;
    width: 90%;
    padding: 30px 0;
    border-radius: 5px;

    text-align: center;
    
    background-color: var(--white);
    box-shadow: 2px 3px 10px 5px rgba(0,0,0,0.27);
  }

  .mobile_nav ul {
    display: flex;
    flex-direction: column;
    margin: 15px;
    padding-top: 20px;
  }

  .mobile_nav ul li{
    list-style: none;
    font-size: 20px;
    margin-bottom: 25px;
    padding: 0 20px;
  }

  .dropdown_menu_mobile {
    display: none;
    background-color: #efeff1;
    border-radius: 5px;
  }

  .dropdown_menu_mobile ul li a{
    font-size: 18px;
    color: hsl(208, 49%, 24%) !important;
  }

  .mobile_nav ul li:hover .dropdown_menu_mobile{
    display: block;
  }

  .mobile_nav a {
    color: hsl(208, 49%, 24%);
    font-family: 'Overpass';
    font-weight: bold;
  }

  .mobile_nav ul li:hover a {
    color: rgb(97, 97, 97);
  }

  .mobile_nav ul li:hover img {
    transform: rotate(-180deg);
    transition: .5s;
  }

  hr {
    margin: 10px 25px;
  }

  .mobile_btn {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    place-items: center;
  }

  .btn {
    width: fit-content;
    font-family: 'Ubuntu';
  }

  .mobile_btn .btn_signup {
    padding: 15px 45px;
    background: linear-gradient(to bottom right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
    color: var(--white);
    border-radius: 40px;
  }

  .btn_login {
    margin-bottom: 10px;
    padding: 15px 50px;
    background: white;
    border-radius: 40px;
    border: 1px solid var(--white);
  }

  .mobile_btn .btn_login:hover {
    border: 1px solid hsl(356, 100%, 66%);
    color: hsl(356, 100%, 66%);
    transition: 1s;
  }

  .mobile_btn .btn_signup:hover {
    border: 1px solid hsl(356, 100%, 66%);
    color: hsl(356, 100%, 66%);
    background: white;
    transition: 1s;
  }

  /* HOME TEXT */

  .container_home {
    padding: 100px 25px 150px;
    text-align: center;
  }

  .container_home h1 {
    font-size: 30px;
  }

  .container_home p {
    font-weight: 400;
  }

  /* OVERVIEW SECTION */

  .overview {
    padding: 0;
    background: var(--white);
    height: 100%;
  }

  .overview_container {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  .overview_container h1 {
    font-size: 30px;
    margin: 100px 0 25px 0;
  }

  .img_mobile_overview {
    display: block;
    width: 100%;
    margin: 50px 0;
  }

  .left_col {
    text-align: center;
    padding: 0 40px;
    margin-bottom: 50px;
  }

  .left_col h2 {
    margin-bottom: 20px;
  }

  .left_col p {
    padding: 0;
  }

  .img_desktop_overview {
    display: none;
  }

  /* SERVICES SECTION */

  .services {
    display: none;
  }
}