@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&family=Ubuntu:wght@400;700&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --light-red: hsl(356, 100%, 66%);
}

* {
  padding: 0;
  margin: 0;
}

/* GLOBAL */

a {
  text-decoration: none;
  color: var(--white);
}

.btn {
  padding: 10px 15px;
  border: 0;
  border-radius: 25px;
}

/* HEADER BACKGROUND */

.header {
  background: url(assets/bg-pattern-intro.svg);
  background-image: linear-gradient(to bottom right, hsl(13, 100%, 72%), hsl(353, 100%, 62%));
  border-radius: 0 0 0 75px;
}

/* NAVBAR */

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 30px 0;
  color: var(--white);

  font-family: 'Ubuntu';
  font-weight: 500;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  margin-right: 50px;
}

nav ul {
  display: flex;
}

nav li {
  list-style: none;
  padding: 0 15px;
}

.nav {
  flex: 1;
}

nav a:hover {
  text-decoration: underline;
}

.arrow_down {
  list-style: none;
}

nav li:hover img{
  transform: rotate(-180deg);
  transition: 1s;
}

.dropdown_menu {
  display: none;
}

nav li:hover .dropdown_menu {
  display: block;
}

.dropdown_menu ul {
  display: flex;
  flex-direction: column;
  position: absolute;

  background-color: var(--white);
  border-radius: 5px;

  padding: 25px 25px 25px 10px;
}

.dropdown_menu li {
  margin-bottom: 10px;
}

.dropdown_menu a {
  color: black;
}

.dropdown_menu a:hover {
  text-decoration: none;
  font-weight: bold;
}



.btn_header a:not(:first-child) {
  background-color: white;
  color: var(--light-red);
  font-weight: bold;
}

.btn_header a:not(:first-child):hover {
  background-color: var(--light-red);
  color: var(--white);
  border: 1px solid var(--white);
  transition: 1s;  
}

/* MAIN HEADER */

.container_home {
  display: flex;
  flex-direction: column;
  place-items: center;
  padding: 100px 0 150px;
  font-family: 'Overpass';
}

.container_home h1 {
  color: var(--white);
  font-size: 65px;
}

.container_home p {
  font-size: 21px;
  color: var(--white);
  font-weight: bold;
  margin-top: 15px;
}

.btn_container {
  margin-top: 60px;
  display: flex;
}

.btn_container a {
  font-family: 'Ubuntu';
  font-weight: bold;
  font-size: 16px;
  padding: 15px 20px;
}

.btn_container a:first-child {
  color: var(--light-red);
  background-color: var(--white);
  margin-right: 10px;
}

.btn_container a:not(:first-child) {
  border: 1px solid var(--white);
  margin-left: 10px;
}

.btn_container a:first-child:hover {
  background-color: var(--light-red);
  color: var(--white);
  border: 1px solid var(--white);
  transition: 1s;
}

.btn_container a:not(:first-child):hover {
  background-color: var(--white);
  color: var(--light-red);
  transition: 1s;
}

/* MOBILE NAV */

#mobilemenu {
  display: none;
}

.mobile_nav {
  display: none;
}

/* OVERVIEW SECTION */

.overview {
  background: url(assets/illustration-editor-desktop.svg);
  background-position: right;
  display: none;
}

@media (max-width: 760px){
  .container {
    padding: 0 30px;
  }

  .nav {
    display: none;
  }

  .btn_header {
    display: none;
  }
  
  #mobilemenu {
    display: block;
  }

  .mobile_nav {
    position: absolute;
    display: block;
    text-align: center;
    top: 8.5rem;
    background-color: black;
  }

  .container_home {
    text-align: center;
  }

  .container_home h1 {
    font-size: 30px;
  }

  .container_home p {
    font-weight: 400;
  }



}